{% block sidebar %}

<!-- <style>
        
        .card-body {
            
        }

</style>


<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">More about quora</h5>
    <div class="card-body">
        <p class="card-text"> Quora first became available to the public on June 21, 2010, and was praised for its interface and for the quality of the answers written by its users, many of whom were recognized as experts in their fields.increased traffic. Until 2018, Quora did not show ads because In June 2011
            
          </p>
       
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div> -->

{% endblock sidebar %}